<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{action}} Reglamento</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="reglamentoForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Nombre Reglamento</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error
                        *ngIf="reglamentoForm.controls.nombre.touched && reglamentoForm.controls.nombre.invalid">
                        <span *ngIf="reglamentoForm.controls.nombre.errors.required">Este campo es
                            obligatorio.</span>
                        <span *ngIf="reglamentoForm.controls.nombre.errors.pattern">Este campo es
                            invalido.</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap">
                <div class="radio_buton" appearance="fill" fxFlex>
                    <mat-label>Documento</mat-label><br>
                    <input (change)="selectFile($event)" formControlName="documento"
                        class="form-control-file" type="file">
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(reglamentoForm.valid && reglamentoForm.dirty)">{{action}}</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
