<mat-card class="responsive_table">
    <div class="float-center">
        <b class="tamano_titulo"><span>GESTION CATEGORIA </span></b>
    </div>
</mat-card>

<div>
    <hr>
    <mat-card>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
        </mat-form-field>
        <div class="btn-add">
            <button mat-flat-button color="accent" class="float-right" (click)="handleAddAction()">Añadir Categoria</button>
        </div>
    </mat-card>
    
    <div class="responsive_table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element; index as i "> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre Categoria</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <button mat-icon-button color="accent" matTooltip="Edit" (click)="handleEditAction(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" matTooltip="Delete" (click)="handleDeleteAction(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-slide-toggle (change)="onChange($event.checked, element.id)"
                        matTooltip="Activate or Desactivate Categoria" [checked]="element.estado">
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </div>
</div>