//--------------------
.float-center {
    text-align: center;
}

.tamano_titulo {
    font-size: 18px;
    color: rgb(120, 132, 133);
}

.tamano_card {
    height: 50px;
    background-color: rgb(184, 213, 214);
}

.btn-menu {
    margin-top: -15px;
}

.color {
    color: black;
    font-size: 18px;
    background-color: rgb(184, 213, 214);
}

.text-color {
    color: black;
    font-size: 16px;
}

.mayuscula {
    text-transform: uppercase;
}

//--------------------Mostrar y ocultar

#contenido-cat {
    //display: none;
    display: block;
}

#contenido-equipo {
    display: block;
}

#contenido-partido {
    display: none;
}
#contenido-tablaposiciones{
    display: none;
}

.img {
    margin-bottom: 10px;
}

mat-list-item {
    margin-top: -20px;
}