mat-card {
    padding: 20px;
}

table {
    width: 100%;
}
.float-right{
    float: right;
    margin-top: -8px;
}

.btn-add{
    background-color: black;
   // margin-left: 30px;
   // margin-top: 8px;
}

