<mat-card>
    <b><span>GESTION USUARIOS</span></b>
        <button mat-flat-button color="accent" class="float-right" (click)="handleAddAction()">Registrar usuario</button>

<br>
    <mat-form-field appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" autocomplete="off">
    </mat-form-field>


<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef> Nro Celular</th>
            <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>
        
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="accent" matTooltip="Edit" (click)="handleEditAction(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-slide-toggle (change)="handleChangeAction($event.checked, element.id)"
                    matTooltip="Activate or Deactivate User" [checked]="element.status">
                </mat-slide-toggle>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
</div>
</mat-card>
<!--
<mat-card>
    <b><span>Manage User</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="signupAction()">Registrar usuario</button>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>

<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef> Contact Number</th>
            <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <mat-slide-toggle (change)="handleChangeAction($event.checked, element.id)"
                    matTooltip="Activate or Deactivate User" [checked]="element.status">
                </mat-slide-toggle>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
</div>
-->