.float-center {
    text-align: center;
}

.tamano_titulo {
    font-size: 18px;
    color: rgb(120, 132, 133);
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;   
}

.img {
    background-size: cover;
    border-radius: 50%;
   // margin: 0 auto;
}

