<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center"> Cambiar Contraseña</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Contraseña antigua</mat-label>
                <input matInput formControlName="oldPassword" type="password" required>
                <mat-error
                    *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.oldPassword.error.required">Este campo es
                        obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput formControlName="newPassword" type="password" required>
                <mat-error
                    *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.newPassword.error.required">Este campo es
                        obligatorio</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput formControlName="confirmPassword" type="password" required>
                <mat-error
                    *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.confirmPassword.error.required">Este campo es
                        obligatorio</span>
                </mat-error>

                <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
                    <span>La nueva contraseña y la confirmación de la contraseña no coinciden.</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleChangePasswordSubmit()"
        [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>