.float-center{
    text-align: center;
}

.tamano_titulo{
    font-size: 16px;
    color: rgb(120, 132, 133);
}

.float-right{
    float: right;
    margin-top: -8px;
}

mat-card{
 padding: 20px;   
}

table{
    width: 100%;
}



