<!--
<div class="bg-image" align="center"  >
  <img  src="../../assets/img/deportes.jpg" alt="error">
</div>
-->

  
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>diversity_2</mat-icon> . Integracion Yaretanece
    </a>
    <ul>
      <li><a (click)="loginAction()" class="color-letra">Iniciar Sesion</a></li>
     <!-- <li><a (click)="forgotPasswordAction()" class="color-letra">Forgot Password</a></li>-->
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h5>All right reserved @Rocio Poma Silvestre</h5>
</div>