.float-center {
    text-align: center;
}

.tamano_titulo {
    font-size: 18px;
    color: rgb(120, 132, 133);
}

mat-card-title{
    font-size: 20px;
}

.example-card {
    max-width: 300px;
    margin-bottom: 8px;   
    //margin-left: 8px;
}

.img {
    background-size: cover;
    border-radius: 50%;
   // margin: 0 auto;
}
.mayuscula{
    text-transform: uppercase;
}

.btn-add{
    // background-color: black;
     margin-left: 30px;
     margin-top: 8px;
     margin-right: 35px;
 }

 ///////////////////

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }